@import 'custom-ionic.css';
@import 'signup.css';
@import "groupingOfCss/import_groupingOfCss.css";

/* Empty. Add your own CSS if you like */

/*Set CSS Properties to Iphone x^ devices*/
:root {
    --safe-area-inset-top : env(safe-area-inset-top);
    --safe-area-inset-right : env(safe-area-inset-right);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left : env(safe-area-inset-left);


    /* //portrait orientation, status bar is shown */
    /*
    additionalSafeAreaInsets.top = 24.0
    additionalSafeAreaInsets.bottom = 34.0
    */

    /* //portrait orientation, status bar is hidden */
    /*
    additionalSafeAreaInsets.top = 44.0
    additionalSafeAreaInsets.bottom = 34.0
    */

    /* //landscape orientation */
    /*
    additionalSafeAreaInsets.top = 0.0
    additionalSafeAreaInsets.left = 44.0
    additionalSafeAreaInsets.bottom = 21.0
    additionalSafeAreaInsets.right = 44.0
    */
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header,
.platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
    padding-left: calc(0px + var(--safe-area-inset-left));
    padding-right: calc(0px + var(--safe-area-inset-right));
    padding-bottom: calc(0px + var(--safe-area-inset-bottom));
}

@media (orientation : portrait){

    .tabs {
        height: calc(30px + var(--safe-area-inset-bottom, 19px)) !important;
        min-height: 49px;
    }

    .bar-header:not(.bar-subheader) {
        height: calc(45px + var(--safe-area-inset-top, 19px)) !important;
    }

    .bar-header:not(.bar-subheader) > * {
        margin-top: var(--safe-area-inset-top, 20px) !important;
    }

    .platform-ios.platform-cordova:not(.fullscreen) .has-header,
    .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
        padding-top: calc(45px + var(--safe-area-inset-top) - 64px);
        padding-bottom: var(--safe-area-inset-bottom);
    }

}

@media (orientation : landscape) {

    .tabs {
        height: calc(45px + var(--safe-area-inset-bottom, 19px)) !important;
        min-height: 49px;
    }

    .platform-ios.platform-cordova:not(.fullscreen) .has-header,
    .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
        padding-left: var(--safe-area-inset-left);
        padding-right: var(--safe-area-inset-right);
        padding-bottom: var(--safe-area-inset-bottom);
    }
}

body {
    background-color: #fff;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}

.item {
    margin-top: 0px;
}

.list .item.item-accordion.ng-hide {
    line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.drop-box {
    background: #F8F8F8;
    border: 2px dashed #DDD;
}

.dragover {
    border: 2px dashed blue;
}

.input-validation-error {
    border-bottom: 2px solid red !important;
}

.menu-view .user-button, .login-bg .user-button {
    border: 1px solid #aaa;
    color: #aaa;
    border-radius: 100%;
    padding: 10px;
    width: 120px;
    height: 120px;
    transition: 400ms;
}

.menu-view .user-button p, .login-bg .user-button p  {
    color: #aaa;
}

.user-button a {
    color: #aaa;
    text-decoration: none;
}

/* .user-button:hover {
    transition: 400ms;
    border: 1px solid #1d4f9e;
} */

.center-content-vertically{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-view {
    background-color: #1d4f9e;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.safe-top {
    padding-top: env(safe-area-inset-top);
}

#menu-blue .item {
    border-color: transparent;
    background-color: transparent;
    position: relative;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 10px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.right-block {
    display: block;
    margin-left: auto;
}

.left-block {
    display: block;
    margin-right: auto;
}

.item-list-detail {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.custom-item-avatar-imagem{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}


/*
 * This class was intended to be used only for Screen Readers
 * Please, search for .sr-only on Bootstrap docs
 */
.sr-only{
    display: none !important;
}

kendo-chat .k-chat {
    max-width: 100%;
}

kendo-chat .k-bubble {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.icon-designtime-ion-list{
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    font-size: 32px;
    right: 18px;
}

.selected-designtime-list .checkbox input:checked:before, 
.selected-designtime-list input:checked + .selected-designtime-list .checkbox-icon:before{
    background: #2B71E8;
    border-color: #2B71E8;
}

.bar .title{
    text-align: inherit;
}

.bar-positive .button.button-icon{
    align-content: center;
    display: grid;
}

.bar-positive .button.button-clear i{
    font-size: 28px;
}