<div class="component-holder ng-scope" data-component="crn-ion-list">
    <div class="item item-input-inset">
        <div class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" class="ng-pristine ng-untouched ng-valid ng-empty" placeholder="Search">
        </div>
    </div>
    <ion-list can-swipe="listCanSwipe" class="disable-user-behavior">
        <div class="list">
            <ion-item class="item item-complex item-right-editable item-thumbnail-left">
                <div class="item-content">
                    <img alt="Thumbnail" src="node_modules/cronapp-framework-mobile-js/img/user.svg">
                    <div class="text-left ">
                        <h2 class="ng-binding">Advanced List Title</h2>
                        <p class="dark ng-binding">Advanced List Subtitle</p>
                    </div>
                    <i class="icon icon ion-alert icon-designtime-ion-list" xattr-theme="dark"></i>
                </div>                
            </ion-item>
        </div>
    </ion-list>
</div>