<div class="component-holder ng-scope" data-component="crn-select" id="0">
    <div class="item item-input item-select">
        <label class="input-label" aria-label="Select Item" id="_label-0">Select Item</label>
        <select aria-label="Aria Label Text" id="select-8015"
            class="ng-pristine ng-untouched ng-valid ng-empty" aria-invalid="false">
            <option value=""></option>
            <option data-component="crn-item-select" class="active" value="1">Value 1</option>
            <option data-component="crn-item-select" class="" value="2">Value 2</option>
            <option data-component="crn-item-select" class="" value="3">Value 3</option>
        </select>
    </div>
</div>