<div class="item item-input item-stacked-label general-dynamic-image">
    <label class="input-label" aria-label="Label" id="_label-0">Label</label>
    <div class="form-group">
        <div dynamic-image="" alt="Dynamic Image Aria Label Text" ng-model="vars.input9125" max-file-size="5MB"
            target-width="640" target-height="480"
            class="dynamic-image-container ng-pristine ng-untouched ng-valid ng-binding ng-empty ng-valid-required"
            ng-required="false" allow-edit="false" aria-required="false" aria-invalid="false">
            <div ngf-drop="" ngf-drag-over-class="dragover" class="dynamicImage">
                <div class="btn action-button-border ng-binding" ngf-drop="" ngf-select=""
                    ngf-change="cronapi.internal.setFile('vars.input9125', $file)" ngf-pattern="'image/*'"
                    ngf-max-size="5MB">
                    Clique para adicionar uma imagem
                    <div aria-label="Abrir a câmera" class="button button-positive buttomImage"
                        ng-click="cronapi.internal.startCamera('vars.input9125','60','false','640','480')" role="button"
                        tabindex="0"> <span class="icon ion-ios-videocam"></span> </div>
                </div>
            </div>
        </div>
    </div>
</div>