<div class="component-holder ng-scope" data-component="crn-infinite-scroll" id="crn-infinite-scroll-75684">
    <cron-infinite-scroll crn-datasource="User" class="">
        <ion-infinite-scroll on-infinite="nextPageInfinite()" distance="1%" class="">
            <ion-spinner icon="" class="spinner spinner-android">
                <svg viewBox="0 0 64 64">
                    <g transform="rotate(114.79999999999994,32,32)">
                        <circle stroke-width="6" stroke-dasharray="154.65687053982703"
                            stroke-dashoffset="83.64742134911242" r="26" cx="32" cy="32" fill="none"
                            transform="scale(-1,1) translate(-64,0) rotate(-101,32,32)"></circle>
                    </g>
                </svg></ion-spinner>
        </ion-infinite-scroll>
    </cron-infinite-scroll>
</div>