<ion-header-bar class="bar bar-positive component-holder bar-header" >
    <div class="buttons buttons-left header-item">
        <button class="button button-icon button-clear component-holder" menu-toggle="left"
            data-component="crn-button">
            <i class=" ion ion-android-menu"></i>
        </button>
    </div>
    <h1 class="title" align-title="text-align: left;" style="text-align: left; left: 45px; right: 45px;">Title!
    </h1>
    <div class="buttons buttons-right header-item">
        <button class="button button-icon button-clear component-holder" menu-toggle="right" data-component="crn-button">
            <i class=" ion ion-android-menu"></i>
        </button>
    </div>
</ion-header-bar>