<div class="tabs-icon-bottom tabs-standard tab-nav tabs tabs-positive" data-component="crn-ion-tab" xattr-theme="tabs-positive">
  <a class = "tab-item has-badge" data-component="crn-ion-tab-item" href="#/app/logged/home">
    <span class="badge">0</span>
    <i class="icon ion-ios-home"></i>
    <span class="tab-title">Home</span>
  </a>
  <a class = "tab-item has-badge" data-component="crn-ion-tab-item" href="#/app/logged/user">
    <span class="badge">0</span>
    <i class="icon ion-ios-person"></i>
    <span class="tab-title">About</span>
  </a>
</div>