<ion-footer-bar class="bar bar-footer bar-positive" xattr-theme="bar-positive" align-title="center">
  <div class="buttons">
    <button class="button component-holder button-clear" type="submit" ng-click="" data-component="crn-button" id="crn-button${RANDOM}" xattr-theme="" xattr-type="button-clear"><i class="ion ion-home" xattr-icon-theme=""></i> <span>Left</span></button>
  </div>
  <h1 class="title" align="left">Title!</h1>
  <div class="buttons">
    <button class="button component-holder button-clear" type="submit" ng-click="" data-component="crn-button" id="crn-button${RANDOM}" xattr-theme="" xattr-type="button-clear"><i class="ion ion-home" xattr-icon-theme=""></i> <span>Right</span></button>
  </div>
</ion-footer-bar>