<ion-list crn-datasource="" class="listCanSwipe component-holder disable-user-behavior">
    <div class="list">
        <ion-item class="item item-complex item-right-editable">
            <div class="item-content">
                <h2 style="display: inline">Item</h2>
                <div class="component-holder">
                    <div class="crn-item-options" data-item="true"></div>
                </div>
            </div>
            <div class="item-options invisible">
                <ion-option-button class="button-positive button button">
                    <i class="ion ion-edit"></i><span>Edit</span>
                </ion-option-button>
                <ion-option-button class="button-assertive button button">
                    <i class="ion ion-trash-a"></i><span>Delete</span>
                </ion-option-button>
            </div>
        </ion-item>
    </div>
</ion-list>