<div class="component-holder ng-scope" data-component="crn-list-swipe" id="crn-list-swipe-479153">
    <ion-list crn-datasource="User" class="listCanSwipe disable-user-behavior" id="crn-list-swipe6138">
        <div class="list">
            <div ng-repeat="rowData in datasource.data" class="to-repeat" style="">
                <ion-item class="item item-complex item-right-editable" id="crn-list-item-swipe6138"
                    data-component="crn-item-swipe">
                    <div class="item-content" style="">
                        <h2 style="display: inline" class="ng-binding">Administrator</h2>
                        <div id="crn-item-options6138" class="component-holder" data-component="crn-item-options">
                            <div class="crn-item-options" data-item="true">
                            </div>
                        </div>
                    </div>
                    <div class="item-options invisible">
                        <ion-option-button id="crn-option-button6138" data-component="crn-button"
                            class="button-positive button button">
                            <i class="ion ion-edit"></i>
                            <span>Edit</span>
                        </ion-option-button>
                        <ion-option-button id="crn-option-button6138-2" data-component="crn-button"
                            class="button-assertive button button">
                            <i class="ion ion-trash-a"></i>
                            <span>Delete</span>
                        </ion-option-button>
                    </div>
                </ion-item>
            </div>
        </div>
    </ion-list>
</div>